

<section> 
  {%  content_for 'blocks' %}
</section>


{% schema %}
  {
    "name": "Empty sec. global blocks",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets": [
      {
        "name":"Empty sec. global blocks"
      }
    ]
  }
{% endschema %}